{% extends 'site/base.html'%}
{% block content %}
<div>
  <table class="table table-striped table-dark">
      <thead>
      <th scope="col">
          Studio Name
      </th>
      <th scope="col">
          Language
      </th>
      <th scope="col">
          Country
      </th>
    </thead>
    <tbody>
    {% for studio in studios %}
    {% if studio.is_approved %}
    <tr>
    <th scope="row">
      <a href="{% url 'get_studio' pk=studio.pk %}">{{ studio.name }}</a>
    </th>
    <td>
      {{ studio.language }}
    </td>
    <td>
      {{ studio.country}}
    </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
