{% extends 'site/base.html'%}
{% block content %}
<div>
  <table>
    <tr>
      <td>
          <b>Studio Name</b>
      </td>
      <td>
          <b>URL</b>
      </td>
      <td>
          <b>Twitter</b>
      </td>
      <td>
          <b>Facebook</b>
      </td>
      <td>
          <b>YouTube</b>
      </td>
      <td>
          <b>Language</b>
      </td>
      <td>
          <b>Country</b>
      </td>
      <td>
          <b>Sells Itnl?</b>
      </td>
    </tr>
    <tr>
    <td>
      {{ studio.name }}
    </td>
    <td>
      <a href="{{ studio.url }}" target="_blank">{{ studio.url }}</a>
    </td>
    <td>
      <a href="http://www.twitter.com/{{ studio.twitter }}" target="_blank">{{ studio.twitter }}</a>
    </td>
    <td>
      <a href="http://www.facebook.com/{{ studio.facebook }}" target="_blank">{{ studio.facebook }}</a>
    </td>
    <td>
      <a href="http://www.twitter.com/{{ studio.youtube }}" target="_blank">{{ studio.youtube }}</a>
    </td>
    <td>
      {{ studio.language }}
    </td>
    <td>
      {{ studio.country}}
    </td>
    <td>
      {% if studio.ship_international %}
      <font color="green">Yes</font>
      {% endif %}
    </td>
    </tr>
  </table>
</div>
{% endblock %}
