{% extends 'site/base.html'%}
{% block content %}
<div>
<a href="{% url 'studios_list' %}" class="navbar">Back</a>
  <table class="table table-striped table-dark">
    <thead>
      <tr align="center">
      <th scope="col">
          Studio Name
      </th>
      <th scope="col">
          URL
      </th>
      <th scope="col">
          Language
      </th>
      <th scope="col">
          Country
      </th>
      {% if studio.sells_international %}
      <th scope="col">
          Sells Itnl?
      </th>
      {% endif %}
      {% if studio.twitter %}
      <th scope="col">
          Twitter
      </th>
      {% endif %}
      {% if studio.facebook %}
      <th scope="col">
          Facebook
      </th>
      {% endif %}
      {% if studio.youtube %}
      <th scope="col">
          YouTube
      </th>
      {% endif %}
      </tr>
      </thead>
      <tbody>
        <tr align="center">
      <td>{{ studio.name }}</td>
    <td>
      <a href="{{ studio.url }}" target="_blank">{{ studio.url }}</a>
    </td>
    <td>
      {{ studio.language }}
    </td>
    <td>
      {{ studio.country}}
    </td>
    {% if studio.sells_international %}
    <td>
      <font color="green">Yes</font>

    </td>
    {% endif %}
    {% if studio.twitter %}
    <td>
      <a href="http://www.twitter.com/{{ studio.twitter }}" target="_blank">{{ studio.twitter }}</a>
    </td>
    {% endif %}
    {% if studio.facebook %}
    <td>
      <a href="http://www.facebook.com/{{ studio.facebook }}" target="_blank">{{ studio.facebook }}</a>
    </td>
    {% endif %}
    {% if studio.youtube %}
    <td>
      <a href="http://www.youtube.com/user/{{ studio.youtube }}" target="_blank">{{ studio.youtube }}</a>
    </td>
    {% endif %}
    </tr>
    </tbody>
  </table>
</div>
{% endblock %}
